html {
  width: 100%;
}

.container,
.container-login,
.container-produtos,
.container-produto,
.container__detalhe__produto {
  background-color: #FFFFFF;
  display: grid;
  font-family: "Raleway", sans-serif;
  grid-template-areas: "header" "banner" "main" "footer" "developer";
  grid-template-rows: 72px 192px 1fr 569px 102px;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .container,
.container-login,
.container-produtos,
.container-produto,
.container__detalhe__produto {
    grid-template-rows: 72px 352px 1fr 364px 102px;
  }
}
@media (min-width: 1200px) {
  .container,
.container-login,
.container-produtos,
.container-produto,
.container__detalhe__produto {
    grid-template-rows: 115px 352px 1fr 368px 102px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  max-width: 1136px;
  width: 100%;
}
@media (min-width: 768px) {
  .header {
    column-gap: 32px;
    justify-content: flex-start;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 0;
    margin: 0 auto;
  }
}
.header .wrapper-img {
  width: 100px;
}
@media (min-width: 1200px) {
  .header .wrapper-img {
    width: 176px;
  }
}
.header .wrapper-img .logo {
  width: 100%;
}
.header .search-mobile {
  display: block;
}
@media (min-width: 768px) {
  .header .search-mobile {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header .search-mobile {
    display: none;
  }
}
.header .search {
  display: none;
}
@media (min-width: 768px) {
  .header .search {
    align-items: center;
    display: flex;
    position: relative;
  }
  .header .search .search-icon {
    opacity: 0.5;
    position: absolute;
    right: 16px;
  }
}
.header .search-desktop {
  display: none;
}
@media (min-width: 768px) {
  .header .search-desktop {
    font-size: 0.875rem;
    background-color: #F5F5F5;
    border-radius: 20px;
    border: none;
    display: block;
    height: 40px;
    padding: 12px 16px;
    outline: 0;
    width: 272px;
  }
}
@media (min-width: 1200px) {
  .header .search-desktop {
    display: block;
    height: 40px;
    width: 393px;
  }
}
.header .secondary-mobile-btn {
  font-weight: 600;
  width: 133px;
  height: 40px;
}
@media (min-width: 768px) {
  .header .secondary-mobile-btn {
    width: 166px;
    position: absolute;
    right: 32px;
  }
}
@media (min-width: 1200px) {
  .header .secondary-mobile-btn {
    font-weight: 400;
    height: 51px;
    right: 0px;
    width: 182px;
  }
}

.banner {
  align-items: flex-end;
  background: url(../img/banner_mobile.png) no-repeat center center/cover;
  grid-area: banner;
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 16px;
  display: flex;
}
@media (min-width: 768px) {
  .banner {
    background: url(../img/banner_tablet.png) no-repeat center center/cover;
  }
}
@media (min-width: 1200px) {
  .banner {
    background: url(../img/banner_desktop.png) no-repeat center center/cover;
  }
}
@media (min-width: 768px) {
  .banner {
    padding: 32px;
  }
}
.banner .content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 8px;
  bottom: 16px;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1136px;
}
@media (min-width: 768px) {
  .banner .content {
    row-gap: 16px;
  }
}
.banner .content__title {
  color: #FFFFFF;
  font-size: 1.375rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .banner .content__title {
    font-size: 3.25rem;
  }
}
.banner .content__text {
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .banner .content__text {
    font-size: 1.375rem;
    font-weight: 700;
  }
}
.banner .content .primary-mobile-btn {
  width: 119px;
  height: 40px;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0;
}
@media (min-width: 1200px) {
  .banner .content .primary-mobile-btn {
    width: 130px;
    height: 51px;
    font-weight: 400;
  }
}

.main {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  grid-area: main;
  margin: 0 auto;
  padding: 16px;
  row-gap: 32px;
  width: 100%;
}
@media (min-width: 768px) {
  .main {
    padding: 32px;
    gap: 64px;
  }
}
@media (min-width: 1200px) {
  .main {
    padding: 64px 0px;
  }
}
@media (min-width: 1200px) {
  .main .category {
    margin: 0 auto;
    width: 100%;
    max-width: 1136px;
  }
}
.main .category__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.main .category__header .header__title {
  font-size: 1.375rem;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .main .category__header .header__title {
    font-size: 2rem;
  }
}
.main .category__header .header__span {
  font-size: 0.875rem;
  color: #2A7AE4;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .category__header .header__span::after {
  content: "";
  background: url(../img/arrow_rigth.svg) no-repeat center center/cover;
  height: 16px;
  margin-left: 4px;
  width: 16px;
}
@media (min-width: 768px) {
  .main .category__header .header__span::after {
    margin-left: 8px;
    height: 24px;
    width: 24px;
  }
}
@media (min-width: 768px) {
  .main .category__header .header__span {
    font-size: 1rem;
  }
}
.main .category .category__grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(156px, 1fr));
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main .category .category__grid {
    grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
  }
}
@media (min-width: 1200px) {
  .main .category .category__grid {
    grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
  }
}
.main .category .category__grid .category__product {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  line-height: 18.78px;
}
.main .category .category__grid .category__product .product__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .category .category__grid .category__product .product__name {
  font-size: 0.875rem;
  font-weight: 500;
}
.main .category .category__grid .category__product .product__price {
  font-size: 1rem;
  font-weight: 700;
}
.main .category .category__grid .category__product .product__span {
  font-size: 0.875rem;
  color: #2A7AE4;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
@media (min-width: 768px) {
  .main .category .category__grid .category__product .product__span {
    font-size: 1rem;
  }
}

.footer {
  align-items: center;
  background-color: #EAF2FD;
  display: flex;
  flex-direction: column;
  grid-area: footer;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .footer {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 0;
    justify-content: center;
  }
}
.footer__content {
  display: grid;
  grid-template-areas: "footer-logo" "nav" "contact";
  padding-top: 16px;
  margin: 0 auto;
  max-width: 1136px;
  width: 100%;
}
@media (min-width: 768px) {
  .footer__content {
    grid-template-areas: "footer-logo contact" "nav contact";
    padding: 32px;
  }
}
@media (min-width: 1200px) {
  .footer__content {
    grid-template-areas: "footer-logo nav contact";
    padding: 0px;
  }
}
.footer__content .footer__logo {
  grid-area: footer-logo;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .footer__content .footer__logo {
    justify-content: flex-start;
  }
}
.footer__content .footer__logo .logo {
  height: 50px;
  width: 176px;
}
.footer__content .footer__nav {
  grid-area: nav;
}
.footer__content .footer__nav .nav__list {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  line-height: 18.78px;
  list-style: none;
  margin-top: 16px;
  padding: 0;
  row-gap: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__content .footer__nav .nav__list {
    row-gap: 24px;
    text-align: start;
  }
}
@media (min-width: 1200px) {
  .footer__content .footer__nav .nav__list {
    margin: 0;
  }
}
.footer__content .footer__nav .nav__list .list__item {
  cursor: pointer;
}
.footer__content .footer__contact {
  grid-area: contact;
  margin-top: 32px;
  width: 100%;
}
@media (min-width: 768px) {
  .footer__content .footer__contact {
    margin: 0;
  }
}
.footer__content .footer__contact .contact__title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 18.78px;
  margin-bottom: 8px;
}
.footer__content .footer__contact .contact__form .primary-mobile-btn {
  font-size: 0.875rem;
  font-weight: 600;
  height: 40px;
  line-height: 16.44px;
  margin-top: 8px;
  width: 155px;
}
@media (min-width: 1200px) {
  .footer__content .footer__contact .contact__form .primary-mobile-btn {
    font-size: 1rem;
    font-weight: normal;
    height: 51px;
    width: 170px;
  }
}

.primary-mobile-btn,
.primary-desktop-btn {
  align-items: center;
  background: #2A7AE4;
  border: none;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.primary-mobile-btn:hover,
.primary-desktop-btn:hover {
  background-color: #5595E9;
  cursor: pointer;
}

.primary-mobile-btn {
  height: 40px;
  padding: 12px 16px;
  width: 68px;
}

.primary-desktop-btn {
  height: 51px;
  padding: 16px;
  width: 72px;
}

.secondary-mobile-btn,
.secondary-desktop-btn {
  align-items: center;
  background-color: transparent;
  border: 1px solid #2A7AE4;
  color: #2A7AE4;
  display: flex;
  font-weight: 400;
  justify-content: center;
  text-decoration: none;
}

.secondary-mobile-btn:hover,
.secondary-desktop-btn:hover {
  background-color: #D4E4FA;
  cursor: pointer;
}

.secondary-mobile-btn {
  height: 40px;
  padding: 12px 16px;
  width: 68px;
}

.secondary-desktop-btn {
  height: 51px;
  padding: 16px;
  width: 72px;
}

.form__fildset {
  background-color: #FFFFFF;
  border: none;
  display: flex;
  flex-direction: column;
  height: 56px;
  justify-content: flex-end;
  margin: 0;
  position: relative;
  padding: 0;
}
.form__fildset:focus-within .fildset__label {
  font-size: 0.75rem;
  left: 12px;
  top: 8px;
}

.fildset__label {
  font-size: 1rem;
  color: #A2A2A2;
  cursor: text;
  left: 12px;
  line-height: 16px;
  position: absolute;
  transition: all 0.2s linear;
  top: 20px;
}

.form__textarea {
  font-size: 1rem;
  border: 0;
  box-shadow: 0px 2px 0px -1px #C8C8C8;
  height: 82px;
  line-height: 20px;
  margin-top: 16px;
  outline: 0;
  padding: 16px 12px;
  resize: none;
  width: 100%;
}
.form__textarea::placeholder {
  color: #A2A2A2;
}

.form__textarea {
  font-size: 1rem;
  border: 0;
  box-shadow: 0px 2px 0px -1px #C8C8C8;
  height: 82px;
  line-height: 20px;
  margin-top: 16px;
  outline: 0;
  padding: 16px 12px;
  resize: none;
  width: 100%;
}
.form__textarea::placeholder {
  color: #A2A2A2;
}

.fildset__input {
  border: none;
  box-shadow: 0px 2px 0px -1px #C8C8C8;
  padding-left: 12px;
  padding-right: 12px;
  outline: 0;
  width: 100%;
  height: 90px;
}

.developer {
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  grid-area: developer;
  justify-content: center;
  width: 100%;
}
.developer__text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 18.78px;
  color: #464646;
}
.developer__text a {
  text-decoration: none;
  color: #5595E9;
}
.developer__text a:hover {
  color: #2A7AE4;
  cursor: pointer;
}
.developer__text span {
  display: block;
  text-align: center;
}

.container-login {
  grid-template-areas: "header" "main" "footer" "developer";
  grid-template-rows: 72px 362px 569px 102px;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .container-login {
    grid-template-rows: 72px 295px 364px 102px;
  }
}
@media (min-width: 1200px) {
  .container-login {
    grid-template-rows: 115px 473px 368px 102px;
  }
}
.container-login .main__login {
  align-items: center;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
}
.container-login .main__login .login__form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  row-gap: 16px;
  width: 100%;
  max-width: 275px;
}
@media (min-width: 1200px) {
  .container-login .main__login .login__form {
    max-width: 423px;
    row-gap: 24.63px;
  }
}
.container-login .main__login .login__form .login__title {
  font-size: 1rem;
  line-height: 18.78px;
}
@media (min-width: 1200px) {
  .container-login .main__login .login__form .login__title {
    font-size: 1.125rem;
    line-height: 21.13px;
  }
}
.container-login .main__login .login__form .fildset__input {
  border: none;
  box-shadow: 0px 2px 0px -1px #C8C8C8;
  height: 51px;
  padding-left: 12px;
  padding-right: 12px;
  outline: 0;
  width: 100%;
}
@media (min-width: 1200px) {
  .container-login .main__login .login__form .fildset__input {
    height: 63.13px;
  }
}
.container-login .primary-mobile-btn {
  height: 40px;
  width: 109px;
}
@media (min-width: 1200px) {
  .container-login .primary-mobile-btn {
    height: 62px;
    width: 100%;
  }
}

.container-produtos {
  grid-template-areas: "header" "main" "footer" "developer";
  grid-template-rows: 72px 1fr 569px 102px;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .container-produtos {
    grid-template-rows: 72px 1fr 364px 102px;
  }
}
@media (min-width: 1200px) {
  .container-produtos {
    grid-template-rows: 115px 1fr 368px 102px;
  }
}
.container-produtos .category .produtos__header {
  display: flex;
  flex-direction: column;
  height: 82px;
  justify-content: space-between;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .container-produtos .category .produtos__header {
    align-items: center;
    flex-direction: row;
  }
}
.container-produtos .category .produtos__header .produtos__title {
  font-size: min(max(22px, 4vw), 32px);
}
.container-produtos .category .produtos__header .primary-mobile-btn {
  height: 40px;
  text-align: center;
  text-decoration: none;
  width: 151px;
  font-size: 0.875rem;
}
@media (min-width: 1200px) {
  .container-produtos .category .produtos__header .primary-mobile-btn {
    font-size: 1rem;
    height: 51px;
    width: 165px;
  }
}

.container-produto {
  grid-template-areas: "header" "main" "footer" "developer";
  grid-template-rows: 72px 1fr 569px 102px;
  width: 100%;
}
@media (min-width: 768px) {
  .container-produto {
    grid-template-rows: 72px 1fr 364px 102px;
  }
}
@media (min-width: 1200px) {
  .container-produto {
    grid-template-rows: 115px 1fr 368px 102px;
  }
}
.container-produto .main__produto {
  background-color: #F5F5F5;
  margin: 0 auto;
  padding: 16px;
  width: min(100%, 1136px);
}
@media (min-width: 768px) {
  .container-produto .main__produto {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1200px) {
  .container-produto .main__produto {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
  }
}
.container-produto .main__produto .produto__form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.container-produto .main__produto .produto__form .produto__title {
  font-size: min(max(22px, 4vw), 32px);
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .container-produto .main__produto .produto__form {
    max-width: 559px;
    margin: 0 auto;
  }
}
.container-produto .main__produto .produto__form .produto__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 134px;
  width: 100%;
}
@media (min-width: 768px) {
  .container-produto .main__produto .produto__form .produto__wrapper {
    justify-content: flex-start;
    column-gap: 8px;
  }
}
.container-produto .main__produto .produto__form .produto__wrapper .produto__label {
  font-size: 0.875rem;
  align-items: center;
  background-color: #FFFFFF;
  border: 2px dashed #C8C8C8;
  color: #6B6B6B;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  line-height: 20px;
  row-gap: 16px;
  width: 100%;
  cursor: pointer;
}
@media (min-width: 768px) {
  .container-produto .main__produto .produto__form .produto__wrapper .produto__label {
    width: 254px;
    padding: 32px;
  }
}
@media (min-width: 1200px) {
  .container-produto .main__produto .produto__form .produto__wrapper .produto__label {
    width: 282px;
  }
}
.container-produto .main__produto .produto__form .produto__wrapper .produto__label::before {
  content: url(../../img/icon-add.png);
}
@media (min-width: 768px) {
  .container-produto .main__produto .produto__form .produto__wrapper .produto__label::before {
    content: url(../../img/icon-add-image.png);
  }
}
.container-produto .main__produto .produto__form .produto__wrapper .produto__label::after {
  content: "Adicione uma imagem para o seu produto";
}
@media (min-width: 768px) {
  .container-produto .main__produto .produto__form .produto__wrapper .produto__label::after {
    content: "Arraste para adicionar uma imagem para o produto";
    text-align: center;
  }
}
.container-produto .main__produto .produto__form .produto__wrapper .produto__span {
  display: none;
}
@media (min-width: 768px) {
  .container-produto .main__produto .produto__form .produto__wrapper .produto__span {
    display: block;
  }
}
.container-produto .main__produto .produto__form .produto__wrapper .secondary-mobile-btn {
  display: none;
}
@media (min-width: 768px) {
  .container-produto .main__produto .produto__form .produto__wrapper .secondary-mobile-btn {
    font-size: 1rem;
    display: flex;
    height: 51px;
    line-height: 18.78px;
    width: 250px;
  }
  .container-produto .main__produto .produto__form .produto__wrapper .secondary-mobile-btn::after {
    content: "Procure no seu tablet";
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .container-produto .main__produto .produto__form .produto__wrapper .secondary-mobile-btn::after {
    content: "Procure no seu computador";
  }
}
.container-produto .main__produto .produto__form .produto__wrapper .input__upload {
  display: none;
}
.container-produto .main__produto .produto__form .form__fildset {
  background-color: #FFFFFF;
  border: none;
  display: flex;
  flex-direction: column;
  height: 56px;
  justify-content: flex-end;
  margin: 0;
  position: relative;
  padding: 0;
}
.container-produto .main__produto .produto__form .form__fildset:focus-within .fildset__label {
  font-size: 0.75rem;
  left: 12px;
  top: 8px;
}
.container-produto .main__produto .produto__form .form__fildset .fildset__label {
  font-size: 1rem;
  color: #A2A2A2;
  cursor: text;
  left: 12px;
  line-height: 16px;
  position: absolute;
  transition: all 0.2s linear;
  top: 20px;
}
.container-produto .main__produto .produto__form .form__textarea {
  margin-top: 0;
}
.container-produto .main__produto .produto__form .primary-mobile-btn {
  height: 51px;
  width: 100%;
}

.container__detalhe__produto {
  grid-template-areas: "header" "main" "footer" "developer";
  grid-template-rows: 72px 1fr 569px 102px;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .container__detalhe__produto {
    grid-template-rows: 72px 1fr 364px 102px;
  }
}
@media (min-width: 1200px) {
  .container__detalhe__produto {
    grid-template-rows: 115px 1fr 368px 102px;
  }
}
.container__detalhe__produto .main__produto__detalhe {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.container__detalhe__produto .main__produto__detalhe .content__detalhe {
  align-items: center;
  display: grid;
  grid-template-areas: "imagem" "descricao";
  margin: 0 auto;
  max-width: 1136px;
}
@media (min-width: 768px) {
  .container__detalhe__produto .main__produto__detalhe .content__detalhe {
    grid-template-areas: "imagem descricao";
    padding: 32px;
  }
}
@media (min-width: 1200px) {
  .container__detalhe__produto .main__produto__detalhe .content__detalhe {
    padding: 0px;
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
.container__detalhe__produto .main__produto__detalhe .content__detalhe .wrapper__img {
  background-color: red;
  grid-area: imagem;
  width: 100%;
  height: 192px;
}
@media (min-width: 768px) {
  .container__detalhe__produto .main__produto__detalhe .content__detalhe .wrapper__img {
    width: 254px;
    height: 157px;
  }
}
@media (min-width: 1200px) {
  .container__detalhe__produto .main__produto__detalhe .content__detalhe .wrapper__img {
    width: 560px;
    height: 403px;
  }
}
.container__detalhe__produto .main__produto__detalhe .content__detalhe .wrapper__img img {
  width: 100%;
  height: 192px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .container__detalhe__produto .main__produto__detalhe .content__detalhe .wrapper__img img {
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .container__detalhe__produto .main__produto__detalhe .content__detalhe .wrapper__img img {
    height: 100%;
  }
}
.container__detalhe__produto .main__produto__detalhe .content__detalhe .content__descricao {
  display: flex;
  flex-direction: column;
  grid-area: descricao;
  padding: 16px;
  row-gap: 8px;
}
.container__detalhe__produto .main__produto__detalhe .content__detalhe .content__descricao .descricao__title {
  font-size: 1.375rem;
  line-height: 26px;
  font-weight: 500;
}
@media (min-width: 1200px) {
  .container__detalhe__produto .main__produto__detalhe .content__detalhe .content__descricao .descricao__title {
    font-size: 3.25rem;
    line-height: 61px;
  }
}
.container__detalhe__produto .main__produto__detalhe .content__detalhe .content__descricao .descricao_valor {
  font-size: 1rem;
  font-weight: 700;
  line-height: 18.78px;
}
.container__detalhe__produto .main__produto__detalhe .content__detalhe .content__descricao .descricao__texto {
  font-size: 0.875rem;
  line-height: 16.44px;
}
@media (min-width: 1200px) {
  .container__detalhe__produto .main__produto__detalhe .content__detalhe .content__descricao .descricao__texto {
    font-size: 1rem;
    line-height: 18.78px;
  }
}
.container__detalhe__produto .main__produto__detalhe .descricao__subtitle {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 25.83px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
}
@media (min-width: 768px) {
  .container__detalhe__produto .main__produto__detalhe .descricao__subtitle {
    padding-left: 32px;
    padding-right: 21px;
  }
}
@media (min-width: 1200px) {
  .container__detalhe__produto .main__produto__detalhe .descricao__subtitle {
    font-size: 2rem;
    line-height: 37.57px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 16px;
    max-width: 1136px;
    width: 100%;
    margin: 0 auto;
  }
}
.container__detalhe__produto .main__produto__detalhe .category__grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(156px, 1fr));
  width: 100%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}
@media (min-width: 768px) {
  .container__detalhe__produto .main__produto__detalhe .category__grid {
    margin-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1200px) {
  .container__detalhe__produto .main__produto__detalhe .category__grid {
    width: 100%;
    max-width: 1136px;
    margin-bottom: 64px;
    padding: 0;
  }
}
.container__detalhe__produto .main__produto__detalhe .category__grid .category__product {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin: 0 auto;
}
.container__detalhe__produto .main__produto__detalhe .category__grid .category__product .product__img {
  width: 100%;
  max-width: 156px;
  height: 174px;
}
@media (min-width: 768px) {
  .container__detalhe__produto .main__produto__detalhe .category__grid .category__product .product__img {
    max-width: 164px;
  }
}
@media (min-width: 1200px) {
  .container__detalhe__produto .main__produto__detalhe .category__grid .category__product .product__img {
    max-width: 176px;
    height: 174px;
  }
}
.container__detalhe__produto .main__produto__detalhe .category__grid .category__product .product__name {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 16.44px;
}
.container__detalhe__produto .main__produto__detalhe .category__grid .category__product .product__price {
  font-size: 1rem;
  display: block;
  font-weight: 700;
  line-height: 18.78px;
}
.container__detalhe__produto .main__produto__detalhe .category__grid .category__product .product__span {
  font-size: 0.875rem;
  color: #2A7AE4;
  font-weight: 700;
  line-height: 16.44px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
