html {
  width: 100%;
}

.container {
  display: grid;
  font-family: "Raleway", sans-serif;
  grid-template-areas: "header" "banner" "main" "footer";
  grid-template-rows: 72px 192px 1fr 655px;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    grid-template-rows: 72px 352px 1fr 466px;
  }
}
@media (min-width: 1200px) {
  .container {
    grid-template-rows: 115px 352px 1fr 470px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  max-width: 1136px;
  width: 100%;
}
@media (min-width: 768px) {
  .header {
    column-gap: 32px;
    justify-content: flex-start;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 0;
    margin: 0 auto;
  }
}
.header .wrapper-img {
  width: 100px;
}
@media (min-width: 1200px) {
  .header .wrapper-img {
    width: 176px;
  }
}
.header .wrapper-img .logo {
  width: 100%;
}
.header .search-mobile {
  display: block;
}
@media (min-width: 768px) {
  .header .search-mobile {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header .search-mobile {
    display: none;
  }
}
.header .search {
  display: none;
}
@media (min-width: 768px) {
  .header .search {
    align-items: center;
    display: flex;
    position: relative;
  }
  .header .search .search-icon {
    opacity: 0.5;
    position: absolute;
    right: 16px;
  }
}
.header .search-desktop {
  display: none;
}
@media (min-width: 768px) {
  .header .search-desktop {
    font-size: 0.875rem;
    background-color: #F5F5F5;
    border-radius: 20px;
    border: none;
    display: block;
    height: 40px;
    padding: 12px 16px;
    outline: 0;
    width: 272px;
  }
}
@media (min-width: 1200px) {
  .header .search-desktop {
    display: block;
    height: 40px;
    width: 393px;
  }
}
.header .secondary-mobile-btn {
  font-weight: 600;
  width: 133px;
  height: 40px;
}
@media (min-width: 768px) {
  .header .secondary-mobile-btn {
    width: 166px;
    position: absolute;
    right: 32px;
  }
}
@media (min-width: 1200px) {
  .header .secondary-mobile-btn {
    font-weight: 400;
    height: 51px;
    right: 0px;
    width: 182px;
  }
}

.banner {
  align-items: flex-end;
  background: url(../img/banner_mobile.png) no-repeat center center/cover;
  grid-area: banner;
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 16px;
  display: flex;
}
@media (min-width: 768px) {
  .banner {
    background: url(../img/banner_tablet.png) no-repeat center center/cover;
  }
}
@media (min-width: 1200px) {
  .banner {
    background: url(../img/banner_desktop.png) no-repeat center center/cover;
  }
}
@media (min-width: 768px) {
  .banner {
    padding: 32px;
  }
}
.banner .content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 8px;
  bottom: 16px;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1136px;
}
@media (min-width: 768px) {
  .banner .content {
    row-gap: 16px;
  }
}
.banner .content__title {
  color: #FFFFFF;
  font-size: 1.375rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .banner .content__title {
    font-size: 3.25rem;
  }
}
.banner .content__text {
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .banner .content__text {
    font-size: 1.375rem;
    font-weight: 700;
  }
}
.banner .content .primary-mobile-btn {
  width: 119px;
  height: 40px;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0;
}
@media (min-width: 1200px) {
  .banner .content .primary-mobile-btn {
    width: 130px;
    height: 51px;
    font-weight: 400;
  }
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  grid-area: main;
  margin: 0 auto;
  padding: 16px;
  width: 100%;
}
@media (min-width: 768px) {
  .main {
    padding: 32px;
    gap: 64px;
  }
}
@media (min-width: 1200px) {
  .main {
    padding: 64px 0px;
    max-width: 1136px;
  }
}
.main .category__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.main .category__header .header__title {
  font-size: 1.375rem;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .main .category__header .header__title {
    font-size: 2rem;
  }
}
.main .category__header .header__span {
  font-size: 0.875rem;
  color: #2A7AE4;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .category__header .header__span::after {
  content: "";
  background: url(../img/arrow_rigth.svg) no-repeat center center/cover;
  height: 16px;
  margin-left: 4px;
  width: 16px;
}
@media (min-width: 768px) {
  .main .category__header .header__span::after {
    margin-left: 8px;
    height: 24px;
    width: 24px;
  }
}
@media (min-width: 768px) {
  .main .category__header .header__span {
    font-size: 1rem;
  }
}
.main .category .category__grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(156px, 1fr));
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main .category .category__grid {
    grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
  }
}
@media (min-width: 1200px) {
  .main .category .category__grid {
    grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
  }
}
.main .category .category__grid .category__product {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  line-height: 18.78px;
}
.main .category .category__grid .category__product .product__img {
  width: 100%;
  height: 100%;
}
.main .category .category__grid .category__product .product__name {
  font-size: 0.875rem;
  font-weight: 500;
}
.main .category .category__grid .category__product .product__price {
  font-size: 1rem;
  font-weight: 700;
}
.main .category .category__grid .category__product .product__span {
  font-size: 0.875rem;
  color: #2A7AE4;
  font-weight: 700;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main .category .category__grid .category__product .product__span {
    font-size: 1rem;
  }
}

.footer {
  background-color: crimson;
  grid-area: footer;
}

.primary-mobile-btn,
.primary-desktop-btn {
  align-items: center;
  background: #2A7AE4;
  border: none;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.primary-mobile-btn:hover,
.primary-desktop-btn:hover {
  background-color: #5595E9;
  cursor: pointer;
}

.primary-mobile-btn {
  height: 40px;
  padding: 12px 16px;
  width: 68px;
}

.primary-desktop-btn {
  height: 51px;
  padding: 16px;
  width: 72px;
}

.secondary-mobile-btn,
.secondary-desktop-btn {
  align-items: center;
  background-color: transparent;
  border: 1px solid #2A7AE4;
  color: #2A7AE4;
  display: flex;
  font-weight: 400;
  justify-content: center;
}

.secondary-mobile-btn:hover,
.secondary-desktop-btn:hover {
  background-color: #D4E4FA;
  cursor: pointer;
}

.secondary-mobile-btn {
  height: 40px;
  padding: 12px 16px;
  width: 68px;
}

.secondary-desktop-btn {
  height: 51px;
  padding: 16px;
  width: 72px;
}

/*# sourceMappingURL=style.css.map */
