.primary-mobile-btn,
.primary-desktop-btn {
    align-items: center;
    background: $blue100;
    border: none;
    color: $white100;
    display: flex;
    justify-content: center;
}

.primary-mobile-btn:hover,
.primary-desktop-btn:hover {
    background-color: $blue80;
    cursor: pointer;
}

.primary-mobile-btn {
    height: 40px;
    padding: 12px 16px;
    width: 68px;
}

.primary-desktop-btn {
    height: 51px;
    padding: 16px;
    width: 72px;
}

.secondary-mobile-btn,
.secondary-desktop-btn {
    align-items: center;
    background-color: transparent;
    border: 1px solid $blue100;
    color: $blue100;
    display: flex;
    font-weight: 400;
    justify-content: center;
    text-decoration: none;
}

.secondary-mobile-btn:hover,
.secondary-desktop-btn:hover {
    background-color: $blue20;
    cursor: pointer;
}

.secondary-mobile-btn {
    height: 40px;
    padding: 12px 16px;
    width: 68px;
}

.secondary-desktop-btn {
    height: 51px;
    padding: 16px;
    width: 72px;
}

.form__fildset {
    background-color: $white100;
    border: none;
    display: flex;
    flex-direction: column;
    height: 56px;
    justify-content: flex-end;
    margin: 0;
    position: relative;
    padding: 0;

    &:focus-within {
        .fildset__label {
            @include fontSize(12px);
            left: 12px;
            top: 8px;
        }
    }

    .fildset__label {
        @include fontSize(16px);
        color: $black50;
        cursor: text;
        left: 12px;
        line-height: 16px;
        position: absolute;
        transition: all .2s linear;
        top: 20px;
    }

    .fildset__input {
        border: none;
        box-shadow: 0px 2px 0px -1px #C8C8C8;
        height: 100%;
        padding-left: 12px;
        padding-right: 12px;
        outline: 0;
        width: 100%;
    }

    .form__textarea{
        @include fontSize(16px);
        border: 0;
        box-shadow: 0px 2px 0px -1px #C8C8C8;
        height: 82px;
        line-height: 20px;
        margin-top: 16px;
        outline: 0;
        padding: 16px 12px;
        resize: none;
        width: 100%;

        &::placeholder{
            color: $black50;
        }
    }
}

.form__textarea{
    @include fontSize(16px);
    border: 0;
    box-shadow: 0px 2px 0px -1px #C8C8C8;
    height: 82px;
    line-height: 20px;
    margin-top: 16px;
    outline: 0;
    padding: 16px 12px;
    resize: none;
    width: 100%;

    &::placeholder{
        color: $black50;
    }
}