.container-produtos {
    grid-template-areas:
        'header'
        'main'
        'footer'
        'developer';
    grid-template-rows: 72px 1fr 569px 102px;
    margin: 0 auto;
    width: 100%;

    @include for-tablet-only {
        grid-template-rows: 72px 1fr 364px 102px;
    }

    @include for-desktop-only {
        grid-template-rows: 115px 1fr 368px 102px;
    }

    .category {

        .produtos__header {
            display: flex;
            flex-direction: column;
            height: 82px;
            justify-content: space-between;
            margin-bottom: 16px;

            @include for-tablet-only {
                align-items: center;
                flex-direction: row;
            }

            .produtos__title {
                font-size: min(max(22px, 4vw), 32px);
            }

            .primary-mobile-btn {
                height: 40px;
                text-align: center;
                text-decoration: none;
                width: 151px;
                @include fontSize(14px);

                @include for-desktop-only {
                    @include fontSize(16px);
                    height: 51px;
                    width: 165px;
                }
            }
        }
    }
}